<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>审核开课</title>
		<link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<script type="text/javascript" src="../lib/bootstrap/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.css">
		<link rel="stylesheet" href="css/auditing.css">
		<style>
			html {
				overflow:hidden;
			}
			p {
				height: 50px;
				line-height: 50px;
				font-size: 20px;
				margin-bottom: 0;
			}

		</style>
	</head>

	<body>
		<div style="height: 235px; overflow: auto;" id="list">
			<table class="table" >
				<tr class="info">
					<td>课程名称</td>
					<td>开课类型</td>
					<td>开课学期</td>
					<td>任课老师</td>
					<td>课程描述</td>
					<td>操作</td>
				</tr>
				<tr v-for="(data, index) in datas">
					<td style="display: none">{{data.cno}}</td>
					<td>{{data.cname}}</td>
					<td>{{data.ctype}}</td>
					<td>{{data.cterm}}</td>
					<td>{{data.tname}}</td>
					<td>{{data.cdesc}}</td>
					<td>
						<button type="button" class="btn btn-success" onclick="agree(this)">通过</button>
						<button type="button" class="btn btn-danger" onclick="disagree(this)">不通过</button>
					</td>
				</tr>
			</table>
		</div>

				<div style="width: 100%">
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #2E8B57">
										通过审核
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
									<table class="table" id="agree_frame">
										<tr class="info">
											<th>学期</th>
											<th>课程类型</th>
											<th>课程名称</th>
											<th>任课老师</th>
											<th>课程描述</th>
										</tr>
										<tr v-for="(data, index) in datas">
											<td>{{data.cterm}}</td>
											<td>{{data.ctype}}</td>
											<td>{{data.cname}}</td>
											<td>{{data.tname}}</td>
											<td>{{data.cdesc}}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: #CC3300">
										不通过审核
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body">
									<table class="table" id="disagree_frame">
										<tr class="info">
											<th>学期</th>
											<th>课程类型</th>
											<th>课程名称</th>
											<th>任课老师</th>
											<th>课程描述</th>
										</tr>
										<tr v-for="(data, index) in datas">
											<td>{{data.cterm}}</td>
											<td>{{data.ctype}}</td>
											<td>{{data.cname}}</td>
											<td>{{data.tname}}</td>
											<td>{{data.cdesc}}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

		<script src="../lib/jquery.js"></script>
		<script src="../lib/vue.js"></script>
		<script src="../lib/bootstrap/js/bootstrap.js"></script>
		<script src="js/admin_auditing.js"></script>
	</body>

</html>